section.about


	.about__wrapper
		.about__text__wrapper
			span.about__text_tittle=home[3].data.bio
			.about__img__wrapper
				figure.about__bio__box
					img.about__bio__image( src=home[3].data.bio_image.url alt=home[3].data.bio_image.alt)


	.about__discription
		span.about__text_tittle
			p=home[3].data.bio

		.about__contact
			span.about__text__email
				.about__line__01
					|Lets talk.
				.about__line__02
				| Send-me a&nbsp;
				a.about__email-link(href="mailto:mail@mail.com") Email
					.about__email-link__detail



		.about__socialmidia
			.about__navigation__list
				each item in home[3].data.social
					.about__navigation_list_item
						span.about__text_tittle
							a.about__navigation__list__link(href="item.url")=item.name
								.about__detail(class=`separation__line__${index % 3 + 1}`)
						.about__serapation
