section.about


	.about__wrapper
		.about__left__wrapper
			.about__text__tittle
				|About
			.about__img__wrapper
				img.about__bio__image( src=home[3].data.bio_image.url alt=home[3].data.bio_image.alt)


		.about__discription
			span.about__text
				p=home[3].data.bio

			.about__contact
				.about__email
					.about__line__01
						|Lets talk.
					.about__line__02 Send-me a&nbsp;
						a.about__email-link(href="mailto:mail@mail.com") Email
							.about__email-link__detail



				.about__socialmidia
					.about__navigation__list
						each item, index in home[3].data.social
							.about__navigation__list__item
								span.about__text__link
									a.about__navigation__list__link(href="item.url")=item.name
										.about__detail(class=`${index}`)
								.about__serapation
