section#page_wrapper.screen


	.about
		.text__wrapper
			span.text_tittle=home[3].data.bio
			.img__wrapper
				figure.bio__image__box
								img.bio__image( src=home[3].data.bio_image.url alt=home[3].data.bio_image.alt)


	.about-discription
		span.text_tittle
			p=home[3].data.bio

		.contact
			span.text_email
				.line__01
					|Lets talk.
				.line__02
				| Send-me a&nbsp;
				a(href="mailto:mail@mail.com") Email
					.detail_email



		.socialmidia
			.navigation_list
				each item in home[3].data.social
					.navigation_list_item
						span.text_tittle
							a.navigation__list__link(href="item.url")=item.name
								.detail__(class=`separation__line__${index % 3 + 1}`)
						.serapation
