section#project_wrapper.screen

	each projectItem in project
		.project_wrapper

			.project

				.project__box
					span.text_tittle=projectItem.data.name

					.discription_type
						span.project-type=projectItem.data.type

					.text__description
						span.text_discription=projectItem.data.description

					button.button__arrow(href='/projects/' + projectItem.uid)
						span.button_text
						| See more
					figure.icon__arrow
					svg

				.img__background_wrapper
					figure.background__image
						img.project__background__image(src=projectItem.data.cover.url alt=projectItem.data.cover.alt)


