extends ../base.pug


block content
	section.projects
		//  content
		article.projects__wrapper

			.project__intro


					.projects__about
						.project_tittle=project_intern.data.name

							.projects__year__type
								span.projects__text__year=project_intern.data.year
								span.projects__text__type=project_intern.data.type

							.projects__description
								span.projects__text__description=project_intern.data.description

			.projects__content
				.projects__images__content
					.projects__slice__wrapper

						each section in project_intern.data.body
							if section.slice_type == 'image'

								.projects__slice__container
									each projectItem, index in section.items
										.projects__image__wrapper(id=`image-${index + 1}`)
											img.projects__image(src=projectItem.image.url alt=projectItem.image.alt)

							if section.slice_type == 'video_content'

								.projects__slice__container__media
									each projectItem, index in section.items
										.projects__media
											video.projects__video__wrapper(id=`video-content-${index + 1}`, controls, class=`media`)
												source(src=projectItem.video.text, type="video/mp4")

							else if section.slice_type === 'description'
								.projects__description_wrapper
									.projects__description_container
										each projectItem in section.items
											if section.items.length > 1
												.projects__description__multi__collumn
													span.projects__description__tittle=projectItem.tittle
													span.projects__description__sub-tittle=projectItem.subtittle
													span.projects__description__text=projectItem.text

											else if section.items.length < 2
												.projects__description__one__collumn
													.projects__title_discription
														span.projects__description__tittle=projectItem.tittle
													.projects__collumn
														span.projects__description__sub-tittle=projectItem.subtittle
														span.projects__description__text=projectItem.text


							else if section.slice_type === 'credencials'
								.projects__credencials
									.projects__credencials__wrapper
										each projectItem in section.items
											.projects__credencial__container
												span.projects__credencial_tittle=projectItem.credits_title
												span.projects__credencial_description=projectItem.credits_text
		//  Next Project

		include ../partials/next_project

		//  Footer

		footer
			//- pre.
			//- 	!{JSON.stringify(project_intern, null, 2)}

			include ../partials/footer
