extends ../base.pug


block content
	section#page_wrapper.screen
		//  content
		article.project_wrapper
			.project__intro


					div.project__about
						project_tittle=project_intern.data.name

							.project__year__type
								span.text#year=project_intern.data.year
								span.text#type=project_intern.data.type

							.project__description
								span.text#description=project_intern.data.description

			.project__content__wrapper
				.project__images__content
					.slice__wrapper

						each section in project_intern.data.body
							if section.slice_type == 'image'

								.slice_container__images
									each projectItem, index in section.items
										.image__wrapper(id=`image-${index + 1}`)
											img(src=projectItem.image.url alt=projectItem.image.alt)

							if section.slice_type == 'video_content'

								.slice_container__media
									each projectItem, index in section.items
										.media__wrapper
											video(id=`video-content-${index + 1}`, controls, class=`media`)
												source(src=projectItem.video.text, type="video/mp4")



							else if section.slice_type === 'credencials'
								.project_credencials_wrapper
									.credencials_container
										each projectItem in section.items
											.credencial
												span.credencial_tittle=projectItem.credits_title
												span.credencial_description=projectItem.credits_text


		//  Footer

		footer
			pre.
				!{JSON.stringify(project_intern, null, 2)}

			include ../partials/footer
